.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notFound {
  color: #f0e14a;
  text-align: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #f0e14a;
}
