.container {
  display: flex;
  width: 100%;
  padding: 10px 25px;

  position: sticky;
  top: -1px;
  z-index: 100;

  background-color: rgb(23, 14, 36);
  box-shadow: 8px 8px 10px rgb(0 0 0);
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  display: flex;
  gap: 30px;
  & svg:hover {
    transition: all 0.5s;
    scale: 1.1;
  }
}

.menuItem {
  align-items: center;
  color: white;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  gap: 10px;
  text-transform: capitalize;

  &:hover {
    color: #f0e14a;
    cursor: pointer;
  }
}

.singUp {
  color: white;
  transition: all 0.5s;

  &:hover {
    color: #f0e14a;
    scale: 1.1;
    cursor: pointer;
  }
}

.active {
  color: #f0e14a;
  scale: 1.05;
}

.rightPanel {
  display: flex;
  gap: 30px;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  color: white;
  gap: 5px;

  &:hover {
    color: #f0e14a;
    cursor: pointer;
  }
}
