.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #dfdfa3;
  color: #1e1c33;
  box-shadow: 8px 8px 10px rgb(0 0 0);
  border-radius: 10px;
  padding: 10px 20px;
}

.content {
  width: 50%;
  font-size: 20px;
}

.done,
.notDone {
  width: 10%;
  text-align: center;
  font-weight: 600;
}

.done {
  color: rgb(12, 79, 12) !important;
}

.notDone {
  color: rgb(143, 21, 14) !important;
}

.comments {
  font-weight: 600;
  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.btnWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  & svg {
    width: 30px;
    height: 30px;
    color: #1e1c33;
    transition: all 0.2s;
    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }
}
