.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  color: #1e1c33;
  box-shadow: 8px 8px 10px rgb(0 0 0);
  border-radius: 10px;
  padding: 10px 20px;
}

.cardItem {
  width: 13%;

  &:nth-child(1) {
    width: 25%;
  }
  &:nth-child(3) {
    width: 15%;
  }
}

.btnWrapper {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.button {
  width: 45%;
  box-shadow: 4px 4px 5px rgb(0 0 0);
  border: none;

  &:hover {
    border: none;
    box-shadow: 2px 2px 2.5px rgb(0 0 0);
  }

  &:disabled {
    background-color: white;
    color: rgb(23, 14, 36);
    cursor: auto;
  }
}
